#define NICK "foo"
#define PASS "secret"
#define KEY "googlekey"
#define USER "foo"
#define MASTER "master"
#define SERVER "irc.freenode.net"
#define PORT 6667
#define CHANNEL "#yourchan"
#define CHANNEL2 "#yourchan2"
#define AUTHORSFILE "/home/ftp/pub/frugalware/frugalware-current/docs/xml/authors.xml"
#define PACKAGESCHAN "#yourchan"
